</body>
<footer>
  <p>Made By <a href="https://github.com/MohitSaraff/To-Do-List" target="_blank" title="Source Code" class="my-name"><b>Mohit</b></a></p>
    <ul class="social-icon">
      <li><a href="https://www.linkedin.com/in/mohit-kr-saraf" target="_blank" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/saraffmohit" target="_blank" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/MohitSaraff" target="_blank" title="Follow me on GitHub"><i class="fa fa-github"></i></a></li>
      <li><a href="mailto:saraffmohit@gmail.com" target="_blank" title="Contact me on Mail"><i class="fa fa-envelope"></i></a></li>
    </ul>
</footer>
</html>